          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '57' %>" class="btn btn-danger btn-lg btn-block">                                     
                <h2 class="text-light"> CAFETERIA             ___cafeteria____57ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '59' %>" class="btn btn-danger btn-lg btn-block">                                     
                <h2 class="text-light"> CAFETERIA ESPECIAL    ___cafeteria____59ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
