    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/CREMA . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE O CAPUCHINO .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DPBLE C/CREMA . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE EXPRESS . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE 3 LUNAS . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE TE C/LECHE COMPLETO  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE TE C/LECH TOST JUGO  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE . . . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE MEDICINALES . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE FRIA/CALIENTE . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>YOGHURT . . . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>FACTURAS C/U . . . . . .   $30</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS C/MANT Y MERMELA $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAVIATA JAMON Y QUESO .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA C/ JAMON QUESO   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE VERDE Y SABOR . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>ALF.MAC CH . . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>BAYB . . . . . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>ALF .MAI GD . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>COOKIES/ PEPA GIGANTE . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO C.C/LECH/1 LU T .JU $250</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMOCION DE TOSTADAS . . $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA ESPECIAL  </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE IRLANDES . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE SUIZO . . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CALYPSO . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE NAPOLEON . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO FRAPEE . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO FRAPEE C/D LECH $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
