    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS FRIAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO C/RUSA . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET TERNERA A LA VINAGR $240</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE AVE . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE ATUN . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>VITTEL TONNE . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MORRON FRITO AL AJILLO .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE TERNERA C/RUSA . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>BERENJENAS EN ESCABECHE . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA RUSA(GUARN) . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITO Y CHAMPIG PROVENZ $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON DE AVE . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA DE ALCAPARRA . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADA CALIENTE    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MOZARELLA A LA MILANESA . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINO SOUFLE . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA ROMANA . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA PROVENZAL . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>BRUSQUETA . . . . . . . . $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PICADAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PICADA CHICA 2/3 PERS . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PICADA GDE 4/5 PERS . . . $850</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA CHICA . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA GDE . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA COMPLETA . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO HUEVO DURO . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>ADIC ESP . . . . . . . .   $50</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADA ESPECIAL   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENS WALDORF . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CAPRESSE . . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DEL CHEFF . . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS SAN CAMILO . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS ARROZ MEDITERRANEA .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS PRIMAVERA . . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CAESAR . . . . . . .  $270</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MILANESA TERNERA    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERNERA SUIZA . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN NAPOLITANA . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN FUGAZZETA . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN CANADIENSE . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN RELLENA . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA PECETO . . . . . . . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MILA O SUP POLLO    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILA O SUP POLLO . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP SUIZA . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP NAPOLITANA . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP FUGAZETA . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP CANADIENSE . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP RELLENA . . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>SUP MARYLAND . . . . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>MIL /SUP ALASKA . . . . . $360</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS CASERAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PASTA FRESCA POR CAJA . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>RAV VERDE VEGETALES . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENT NEGRO . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>AGNOLOTIS C Y Q . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENT J Y MOZZARELLA .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENT VER Y RICOTA . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOL VERDE P Y VERDURA  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOL RIC Y QUESO . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS PAPA . . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CINTA TALLARIN . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELIS . . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PENNE REGGATI . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SPAGUETTI SECO . . . . .  $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRAS SALSAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALSA MANT OLEO PESTO . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MIXTA . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CREMA . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOGNESA . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA ESTOFADO TERNERA .  $120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SALSAS ESPECIALES   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALSA SCARPARO . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA ROSA . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PARISIENE . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PANNA . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA 4 QUESOS . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA RULI . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA S CAMILO . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CHEFF . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA VERDE . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA VEGETALES . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA ALBAHACA . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BECHAMEL HONGOS . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA QUESO CREMA . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PRINCIPE DE NAPOLI  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CREMA LIM VERDEO AZAFRAN   $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">POLLO GRILL Y SALT  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO CRE CHAMP . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO CALABRESA . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO AL AJILLO . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO LIM Y MIEL . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO OREGANO . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO CURRY . . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO PROVENZAL . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO VERDEO . . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO ROQUEFORT . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO A LA CAZADORA . . . $320</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">CARNES ROJAS        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LOMO PIM NEGRA . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO CHAMPIGNONE . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO 2 MOSTAZAS . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO VERDEO . . . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO RELL BORGOÑA $480</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO ARRIERO . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO RED . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO MALBEC . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE COSTILLA CAMPESTRE . $440</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OTRAS CARNES        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MAT GRILLE C/FRITAS . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT AL VERDEO . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT PROVENZAL . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT PIZZA . . . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT FUGAZZETA . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>COST CERDO GRILL . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>COST CERDO RIOJANA . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CARRE CERDO VERDEO . . .  $420</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRA PARRILLA    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TIRA DE ASADO . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO 1/2 . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE COSTILLA . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE LOMO . . . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO GRILL . . . . . $180</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TORTILLAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TORTILLA PAPAS . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA VERDURA . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTES           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE SUIZO . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE MIXTO . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE CHAMPIGNONE . .  $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">GUAR P/ACOMP PLATOS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ACELGA AJO Y JAMON . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>VEGT AL WOK . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE PAPAS . . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALAB O MIXTO . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPA FRITA PROVENZAL . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPA REJ ESP PAI NOI . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPA NATURAL . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>TOM C/OREGANO . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO C/U . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO DURO C/U . . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>JARDINERA . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>ACELGA A LA CREMA . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS LIONESAS . . . . .   $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FILET MERL ROMANA/GRILLÉ  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERL MILANESA . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>BROTOLA GRILLE . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO GRILLE . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERL FLORENTINA . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARES LEONESA . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARES C/ ARROZ . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERL CAPRESSE . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERL CREM .VERDEO . $330</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PIZZA MUZZA GDE . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA MUZZA MED . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA GDE . . . . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA PORC . . . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA GDE. ANCHOA C/MOZZA $410</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA MED ANCHOA C/MOZZA  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA FUGAZA GDE . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA FUGAZA MED . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA FUG QUESO GDE . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA FUG QUESO MED . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA FUG QUESO Y J GDE . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA FUG QUESO Y J MED .$3500</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CRIOLLA GDE . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CRIOLLA MED . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA NAPOLIT GDE . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA NAPOLIT MED . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA NAPO C/JAM GDE . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA NAPO C/JAM MED . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA JAMON Y MORR GDE .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA JAMON Y MORR MED .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA JAMON Y ANANA GDE . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA JAMON Y ANANA MED . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA JAMON Y PALM GDE .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA JAMON Y PALM MED .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA ROQUEFORT GDE . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA .ROQUEFORT MED . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CALABRESA GDE . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CALABRESA MED . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CAL C/MUZ GDE . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CAL C/MUZ MED . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA 4 QUESOS GDE . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA 4 QUESOS MED . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA PROVOLONE GDE . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA PROVOLONE MED . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA PARMESANO GDE . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA PARMESANO MED . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA VEGETAL GDE . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA VEGETAL MED . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA GDE ACELGA MOZZ BCA $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA ACELGA Y S BCA CHIC $370</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADA . . . . . . . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA DE VIGILIA . . .  $60</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW CALIENTE      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SANDW MILANESA . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW MILA COMPLETO . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA CASERA . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA COMPLETA . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA SUPER . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW LOMITO . . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW LOMITO COMPLETO . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW LOMITO SUPER . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW PECHUGA DESHUESADA  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>REC J O Q . . . . . . . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW VEGETARIANO C/ATUN  $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW FRIA          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SANDW JAMON O QUESO . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW JAMON Y QUESO . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW SALAME . . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW SALAME QUESO . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW CRUDO . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW CRUDO QUESO . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW MATAMBRE CASERO . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW MAT CASERO QUESO .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW PRIMAVERA . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>REC LECHUGA O TOM O HUEVO  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW CAPRESSE . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW POLLO RUC Y PARMESA $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW DE MIGA       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SANDW MIGA JAMON QUESO .  $185</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW MIGA CRUDO .QUESO . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW TOSTADO MIXTO . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>REC TOM HUEVO ACEITUNAS .  $20</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SUGERENCIA DEL CHEF </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SUP /MIL POLLO RIOJANA .  $320</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
