    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/CREMA . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE O CAPUCHINO .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DPBLE C/CREMA . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE EXPRESS . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE 3 LUNAS . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE TE C/LECHE COMPLETO  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE TE C/LECH TOST JUGO  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE . . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>TE MEDICINALES . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE FRIA/CALIENTE . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>YOGHURT . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>FACTURAS C/U . . . . . .   $30</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS C/MANT Y MERMELA $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAVIATA JAMON Y QUESO .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA C/ JAMON QUESO   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>TE VERDE Y SABOR . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>ALF.MAC CH . . . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>BAYB . . . . . . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>ALF .MAI GD . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>COOKIES/ PEPA GIGANTE . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO/DULCE/J NARANJA $190</li>                          
                <li class="text-center"><span class="fa-li"></span>C C/LECHE 1 LUNAS TOST JU $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMOCION DE TOSTADAS . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>PROM CAF C/LEH-POR TOR-JU $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA ESPECIAL  </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE IRLANDES . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE SUIZO . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CALYPSO . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE NAPOLEON . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO FRAPEE . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO FRAPEE C/D LECH $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
