    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICUADOS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICUADO C/JUGO DE N . . . $155</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO NARANJA C/AGUA .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO BANANA C/LECHE .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC DURAZNO/ANANA C/AGUA  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC DURAZNO/ANANA C/LECHE $165</li>                          
                <li class="text-center"><span class="fa-li"></span>TUTIFRUTI . . . . . . . . $140</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">JUGOS NATURALES     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JUGO NAT NARANJA . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO NAT POMELO . . . . . $135</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GANCIA O CINZANO . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CYNAR . . . . . . . . . . $105</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI . . . . . . . . . $105</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET . . . . . . . . .  $105</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES Y VARIOS    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICOR TIA MARIA . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN O ANIS . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>RON . . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>GINEBRA . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>LEGUI . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .   $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKY              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>BLENDERS . . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $275</li>                          
                <li class="text-center"><span class="fa-li"></span>JB . . . . . . . . . . .  $185</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GASEOSA CHICA . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS SABORIZADAS . . . .  $85</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS .C/GAS . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS .S/GAS . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 1 1/2 . . . . . . $135</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS 1L . . . .  $245</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES 3/4 . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON QUILMES . . . . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA 335 . . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES 1 L . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>CORONA PORRON 375 . . . . $175</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS BLANCOS       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON BLANCO CLASICO 3/4 $180</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON BLANCO CLASICO 3/8 $130</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CHARDONAY/SEMILLON $250</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON CHABLIS 3/4 . . . . $155</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON CHARDONAY . . . . . $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS TINTOS        </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON TINTO CLASICO 3/4  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON TINTO CLASICO 3/8  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CABERNET/SAUVIGNON $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAPICHE 187 . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI 3/4 . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI 3/8 . . . . . . . $145</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMON 3/8 . . . . . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON TARDIO 3/4 . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON MALB O CABER 3/8 . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON 3/4 BORGOÑA . . . . $155</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TTO O BCO 3/8 . . . $145</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS ESPUMANTES    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLER 3/8 . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>FRESITA . . . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA FIZZ . . . . . . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRAS . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE CHANDONE 187 .  $195</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
