    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/CREMA . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE O CAPUCHINO .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DPBLE C/CREMA . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE EXPRESS . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE 3 LUNAS . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE TE C/LECHE COMPLETO  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE TE C/LECH TOST JUGO  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE . . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>TE MEDICINALES . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE FRIA/CALIENTE . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>YOGHURT . . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>FACTURAS C/U . . . . . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS C/MANT Y MERMELA $150</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAVIATA JAMON Y QUESO .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA C/ JAMON QUESO  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>TE VERDE Y SABOR . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>ALF.MAC CH . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>BAYB . . . . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>ALF .MAI GD . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>COOKIES/ PEPA GIGANTE . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO C.C/LECH/1 LU T .JU $290</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMOCION DE TOSTADAS . . $280</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA ESPECIAL  </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE IRLANDES . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE SUIZO . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CALYPSO . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE NAPOLEON . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO FRAPEE . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO FRAPEE C/D LECH $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICUADOS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICUADO C/JUGO DE N . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO NARANJA C/AGUA .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO BANANA C/LECHE .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC DURAZNO/ANANA C/AGUA  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC DURAZNO/ANANA C/LECHE $260</li>                          
                <li class="text-center"><span class="fa-li"></span>TUTIFRUTI . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>BATIDO DE BANANA Y FRUTIL $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">JUGOS NATURALES     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JUGO NAT NARANJA . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO NAT POMELO . . . . . $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GANCIA O CINZANO . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CYNAR . . . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI . . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET . . . . . . . . .  $180</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES Y VARIOS    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICOR TIA MARIA . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN O ANIS . . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA . . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>RON . . . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>GINEBRA . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LEGUI . . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKY              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>BLENDERS . . . . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>JB . . . . . . . . . . .  $320</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GASEOSA CHICA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS SABORIZADAS . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS .C/GAS . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS .S/GAS . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 1 1/2(P/LLEVAR) . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS 1L . . . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES 500 . . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON QUILMES . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA 335 . . . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CORONA PORRON 375 . . . . $340</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS BLANCOS       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON BLANCO CLASICO 3/4 $330</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON BLANCO CLASICO 3/8 $210</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CHARDONAY/SEMILLON $420</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON CHABLIS 3/4 . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON CHARDONAY . . . . . $380</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS TINTOS        </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON TINTO CLASICO 3/4  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON TINTO CLASICO 3/8  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CABERNET/SAUVIGNON $420</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI 3/4 . . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON TARDIO 3/4 . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON 3/4 BORGOÑA . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TTO O BCO 3/8 . . . $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS FRIAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO C/RUSA . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET TERNERA A LA VINAGR $330</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE AVE . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE ATUN . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>VITTEL TONNE . . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>MORRON FRITO AL AJILLO .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE TERNERA C/RUSA . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>BERENJENAS EN ESCABECHE . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARN. ENSALADA RUSA . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITO Y CHAMPIG PROVENZ $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON DE AVE . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA DE ALCAPARRA . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON MALBEC . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CUBIERTO . . . . . . . .   $50</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADA CALIENTE    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MOZARELLA A LA MILANESA . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINO SOUFLE . . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA ROMANA . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA PROVENZAL . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>BRUSQUETA . . . . . . . . $300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PICADAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PICADA CHICA 2/3 PERS . . $820</li>                          
                <li class="text-center"><span class="fa-li"></span>PICADA GDE 4/5 PERS . . .$1200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA CHICA . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA GDE . . . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA COMPLETA . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO HUEVO DURO . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>ADIC ESP . . . . . . . .   $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADA ESPECIAL   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENS WALDORF . . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CAPRESSE . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DEL CHEFF . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS SAN CAMILO . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS ARROZ MEDITERRANEA .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS PRIMAVERA . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CAESAR . . . . . . .  $380</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MILANESA TERNERA    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERNERA SUIZA . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN NAPOLITANA . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN FUGAZZETA . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN CANADIENSE . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN RELLENA . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA PECETO . . . . . . . $350</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MILA O SUP POLLO    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILA O SUP POLLO . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP SUIZA . . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP NAPOLITANA . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP FUGAZETA . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP CANADIENSE . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP RELLENA . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>SUP MARYLAND . . . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>MIL /SUP ALASKA . . . . . $510</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS CASERAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RAV VERDE VEGETALES . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENT NEGRO . . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>AGNOLOTIS C Y Q . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENT J Y MOZZARELLA .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENT VER Y RICOTA . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOL VERDE P Y VERDURA  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOL RIC Y QUESO . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS PAPA . . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>CINTA TALLARIN . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELIS . . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PENNE REGGATI . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>SPAGUETTI SECO . . . . .  $280</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRAS SALSAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALSA MANT OLEO PESTO . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MIXTA . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CREMA . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOGNESA . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA ESTOFADO TERNERA .  $160</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SALSAS ESPECIALES   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALSA SCARPARO . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA ROSA . . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PARISIENE . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PANNA . . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA 4 QUESOS . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA RULI . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA S CAMILO . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CHEFF . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA VERDE . . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA VEGETALES . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA ALBAHACA . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BECHAMEL HONGOS . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA QUESO CREMA . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PRINCIPE DE NAPOLI  $160</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">POLLO GRILL Y SALT  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO CRE CHAMP . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO CALABRESA . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO AL AJILLO . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO LIM Y MIEL . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO OREGANO . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO CURRY . . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO PROVENZAL . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO VERDEO . . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO ROQUEFORT . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO A LA CAZADORA . . . $430</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">CARNES ROJAS        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LOMO PIM NEGRA . . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO CHAMPIGNONE . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO 2 MOSTAZAS . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO VERDEO . . . . . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO RELL BORGOÑA $640</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO ARRIERO . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO RED . . . .  $540</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OTRAS CARNES        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MAT GRILLE C/FRITAS . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT AL VERDEO . . . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT PROVENZAL . . . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT PIZZA . . . . . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT FUGAZZETA . . . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>COST CERDO GRILL . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>COST CERDO RIOJANA . . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>CARRE CERDO VERDEO . . .  $560</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRA PARRILLA    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TIRA DE ASADO . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO 1/2 . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE COSTILLA . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE LOMO . . . . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO GRILL . . . . . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TORTILLAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TORTILLA PAPAS . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA VERDURA . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $380</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTES           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE SUIZO . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE MIXTO . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE CHAMPIGNONE . .  $400</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">GUAR P/ACOMP PLATOS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ACELGA AJO Y JAMON . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>VEGT AL WOK . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE PAPAS . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALAB O MIXTO . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPA FRITA PROVENZAL . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPA REJ ESP PAI NOI . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPA NATURAL . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ . . . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TOM C/OREGANO . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO C/U . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO DURO C/U . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>JARDINERA . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>ACELGA A LA CREMA . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS LIONESAS . . . . .  $120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FILET MERL ROMANA/GRILLÉ  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERL MILANESA . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>BROTOLA GRILLE . . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO GRILLE . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERL FLORENTINA . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARES LEONESA . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARES C/ ARROZ . . .  $490</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SALSA ESP PESCADO   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CREMA LIM VERDEO AZAFRAN  $120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PIZZA MUZZA GDE . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA MUZZA MED . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA GDE . . . . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA PORC . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA GDE. ANCHOA C/MOZZA $550</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA MED ANCHOA C/MOZZA  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA FUGAZA GDE . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA FUGAZA MED . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA FUG QUESO GDE . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA FUG QUESO MED . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA FUG QUESO Y J GDE . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA FUG QUESO Y J MED . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CRIOLLA GDE . . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CRIOLLA MED . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA NAPOLIT GDE . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA NAPOLIT MED . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA NAPO C/JAM GDE . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA NAPO C/JAM MED . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA JAMON Y MORR GDE .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA JAMON Y MORR MED .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA JAMON Y ANANA GDE . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA JAMON Y ANANA MED . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA JAMON Y PALM GDE .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA JAMON Y PALM MED .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA ROQUEFORT GDE . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA .ROQUEFORT MED . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CALABRESA GDE . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CALABRESA MED . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CAL C/MUZ GDE . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CAL C/MUZ MED . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA 4 QUESOS GDE . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA 4 QUESOS MED . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA PROVOLONE GDE . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA PROVOLONE MED . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA PARMESANO GDE . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA PARMESANO MED . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA VEGETAL GDE . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA VEGETAL MED . . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA GDE ACELGA MOZZ BCA $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA ACELGA Y S BCA CHIC $510</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADA . . . . . . . .   $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW CALIENTE      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SANDW MILANESA . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW MILA COMPLETO . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA CASERA . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA COMPLETA . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA SUPER . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW LOMITO . . . . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW LOMITO COMPLETO . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW LOMITO SUPER . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW PECHUGA DESHUESADA  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>REC J O Q . . . . . . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW VEGETARIANO C/ATUN  $360</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW FRIA          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SANDW JAMON O QUESO . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW JAMON Y QUESO . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW SALAME . . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW SALAME QUESO . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW CRUDO . . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW CRUDO QUESO . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW MATAMBRE CASERO . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW MAT CASERO QUESO .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW PRIMAVERA . . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>REC LECHUGA O TOM O HUEVO  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW CAPRESSE . . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW POLLO RUC Y PARMESA $360</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW DE MIGA       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SANDW MIGA JAMON QUESO .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW MIGA CRUDO .QUESO . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW TOSTADO MIXTO . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>REC TOM HUEVO ACEITUNAS .  $40</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FLAN O POSTRE VASO . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DE FRUTAS . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ DE MANZANA O D LECHE $300</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ MANZ FLAMBEADO . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU /MOUSSE CHOCOLAT $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CROC MANZ C/HELADO . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA SUIZA . . . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CHEESECAKE . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 3 BOCHAS . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO . . . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>CHARLOTE . . . . . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE DON LEONARDO . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>REC DULCE LECHE CREMA . .  $40</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">TORTAS              </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FROLA . . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA MANZANA . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>BROW O LIMON . . . . . .  $140</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
