    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICUADOS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICUADO C/JUGO DE N . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO NARANJA C/AGUA .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO BANANA C/LECHE .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC DURAZNO/ANANA C/AGUA  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC DURAZNO/ANANA C/LECHE $220</li>                          
                <li class="text-center"><span class="fa-li"></span>TUTIFRUTI . . . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>BATIDO DE BANANA Y FRUTIL $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">JUGOS NATURALES     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JUGO NAT NARANJA . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO NAT POMELO . . . . . $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GANCIA O CINZANO . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CYNAR . . . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI . . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET . . . . . . . . .  $160</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES Y VARIOS    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICOR TIA MARIA . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN O ANIS . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA . . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>RON . . . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GINEBRA . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LEGUI . . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKY              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>BLENDERS . . . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>JB . . . . . . . . . . .  $290</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GASEOSA CHICA . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS SABORIZADAS . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS .C/GAS . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS .S/GAS . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 1 1/2 . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADA 1 1/2 . . . .  $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS 1L . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES 500 . . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA . . . . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON QUILMES . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA 335 . . . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES 1 L . . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CORONA PORRON 375 . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA LATA 500 . . .  $360</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS BLANCOS       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON BLANCO CLASICO 3/4 $290</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON BLANCO CLASICO 3/8 $190</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CHARDONAY/SEMILLON $380</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON CHABLIS 3/4 . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON CHARDONAY . . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>NORT O TRAPICH TARDIO 3/8 $290</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS TINTOS        </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON MALBEC 3/4 . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON TINTO CLASICO 3/4  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON TINTO CLASICO 3/8  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CABERNET/SAUVIGNON $370</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI 3/4 . . . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON TARDIO 3/4 . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAPICHE . 3/8 MALBEC . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON 3/4 BORGOÑA . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TTO O BCO 3/8 . . . $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS ESPUMANTES    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FRESITA . . . . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA FIZZ . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRAS . . . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE NAVARRO CORREA  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE CHANDON . . . . $800</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
