    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/CREMA . . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE O CAPUCHINO .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DPBLE C/CREMA . . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE EXPRESS . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE 3 LUNAS . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE TE C/LECHE COMPLETO  $185</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE TE C/LECH TOST JUGO  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE . . . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>TE MEDICINALES . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE FRIA/CALIENTE . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>YOGHURT . . . . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>FACTURAS C/U . . . . . .   $25</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS C/MANT Y MERMELA  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAVIATA JAMON Y QUESO .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA C/ JAMON QUESO   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA . . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>TE VERDE Y SABOR . . . .   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>BAYB . . . . . . . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>ALFAJOR .MAI GRANDE . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>COOKIES/ PEPA GIGANTE . .  $30</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMOCION DE TOSTADAS . . $165</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA ESPECIAL  </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE IRLANDES . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE SUIZO . . . . . . .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CALYPSO . . . . . .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE NAPOLEON . . . . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO FRAPEE . . . .  $125</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICUADOS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICUADO C/JUGO DE N . . . $155</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO NARANJA C/AGUA .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO BANANA C/LECHE .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC DURAZNO/ANANA C/AGUA  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC DURAZNO/ANANA C/LECHE $165</li>                          
                <li class="text-center"><span class="fa-li"></span>TUTIFRUTI . . . . . . . . $140</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">JUGOS NATURALES     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JUGO NAT NARANJA . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO NAT POMELO . . . . . $135</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GANCIA O CINZANO . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CYNAR . . . . . . . . . . $105</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI . . . . . . . . . $105</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET . . . . . . . . .  $105</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES Y VARIOS    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICOR TIA MARIA . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN O ANIS . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>RON . . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>GINEBRA . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>LEGUI . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .   $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKY              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>BLENDERS . . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $275</li>                          
                <li class="text-center"><span class="fa-li"></span>JB . . . . . . . . . . .  $185</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GASEOSA CHICA . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS SABORIZADAS . . . .  $85</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS .C/GAS . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS .S/GAS . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 1 1/2 . . . . . . $135</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS 1L . . . .  $245</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES 3/4 . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON QUILMES . . . . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA 335 . . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES 1 L . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>CORONA PORRON 375 . . . . $175</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS BLANCOS       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON BLANCO CLASICO 3/4 $180</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON BLANCO CLASICO 3/8 $130</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CHARDONAY/SEMILLON $250</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON CHABLIS 3/4 . . . . $155</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON CHARDONAY . . . . . $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS TINTOS        </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON TINTO CLASICO 3/4  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON TINTO CLASICO 3/8  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CABERNET/SAUVIGNON $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAPICHE 187 . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI 3/4 . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI 3/8 . . . . . . . $145</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMON 3/8 . . . . . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON TARDIO 3/4 . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON MALB O CABER 3/8 . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON 3/4 BORGOÑA . . . . $155</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TTO O BCO 3/8 . . . $145</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS ESPUMANTES    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON ROBLER 3/8 . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>FRESITA . . . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA FIZZ . . . . . . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRAS . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE CHANDONE 187 .  $195</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS FRIAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO C/RUSA . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET TERNERA A LA VINAGR $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE AVE . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE ATUN . . . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>VITTEL TONNE . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>MORRON FRITO AL AJILLO .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE TERNERA C/RUSA . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>BERENJENAS EN ESCABECHE . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARN. ENSALADA RUSA . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITO Y CHAMPIG PROVENZ $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON DE AVE . . . . . $205</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA DE ALCAPARRA . . .   $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADA CALIENTE    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MOZARELLA A LA MILANESA . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>LANGOSTINO SOUFLE . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA ROMANA . . . . $225</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA PROVENZAL . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>BRUSQUETA . . . . . . . . $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PICADAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PICADA CHICA ESPECIAL . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>PICADA GRANDE ESPECIAL . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>PICADA CHICA 2/3 PERS . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>PICADA GDE 4/5 PERS . . . $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA CHICA . . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA GDE . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA COMPLETA . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO HUEVO DURO . . .   $30</li>                          
                <li class="text-center"><span class="fa-li"></span>ADIC ESP . . . . . . . .   $40</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADA ESPECIAL   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENS WALDORF . . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CAPRESSE . . . . . .  $195</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DEL CHEFF . . . . . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS SAN CAMILO . . . . .  $195</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS ARROZ MEDITERRANEA .  $195</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS PRIMAVERA . . . . . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CAESAR . . . . . . .  $195</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MILANESA TERNERA    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERNERA SUIZA . . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN NAPOLITANA . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN FUGAZZETA . . . $215</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN CANADIENSE . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN RELLENA . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA PECETO . . . . . . . $165</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MILA O SUP POLLO    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MILA O SUP POLLO . . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP SUIZA . . . . .  $235</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP NAPOLITANA . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP FUGAZETA . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP CANADIENSE . . . $245</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA/SUP RELLENA . . . .  $245</li>                          
                <li class="text-center"><span class="fa-li"></span>SUP MARYLAND . . . . . .  $245</li>                          
                <li class="text-center"><span class="fa-li"></span>MIL /SUP ALASKA . . . . . $245</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS CASERAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PASTA FRESCA POR CAJA . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>RAV VERDE VEGETALES . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENT NEGRO . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>AGNOLOTIS C Y Q . . . . . $165</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENT J Y MOZZARELLA .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENT VER Y RICOTA . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOL VERDE P Y VERDURA  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOL RIC Y QUESO . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS PAPA . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CINTA TALLARIN . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>VERMICHELIS . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>PENNE REGGATI . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SPAGUETTI SECO . . . . .  $140</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRAS SALSAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALSA MANT OLEO PESTO . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MIXTA . . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CREMA . . . . . . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOGNESA . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO TERNERA . . . .   $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SALSAS ESPECIALES   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALSA SCARPARO . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA ROSA . . . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PARISIENE . . . . .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PANNA . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA 4 QUESOS . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA RULI . . . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA S CAMILO . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CHEFF . . . . . . .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA VERDE . . . . . . .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA VEGETALES . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA ALBAHACA . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BECHAMEL HONGOS . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA QUESO CREMA . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PRINCIPE DE NAPOLI   $80</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">POLLO GRILL Y SALT  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO CRE CHAMP . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO CALABRESA . . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO AL AJILLO . . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO LIM Y MIEL . . . .  $235</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO OREGANO . . . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO CURRY . . . . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO PROVENZAL . . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO VERDEO . . . . . .  $235</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO ROQUEFORT . . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO A LA CAZADORA . . . $235</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">CARNES ROJAS        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LOMO PIM NEGRA . . . . .  $375</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO CHAMPIGNONE . . . .  $375</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO 2 MOSTAZAS . . . . . $315</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO VERDEO . . . . . . . $345</li>                          
                <li class="text-center"><span class="fa-li"></span>CHORIZO RELLENO BORGOÑA . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CHORIZO ARRIERO . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>CHORIZO RED . . . . . . . $305</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OTRAS CARNES        </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MAT GRILLE C/FRITAS . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT AL VERDEO . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT PROVENZAL . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT PIZZA . . . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>MAT FUGAZZETA . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>COST CERDO GRILL . . . .  $245</li>                          
                <li class="text-center"><span class="fa-li"></span>COST CERDO RIOJANA . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>CARRE CERDO VERDEO . . .  $290</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRA PARRILLA    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TIRA DE ASADO . . . . . . $245</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO 1/2 . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE COSTILLA . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE LOMO . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO GRILL . . . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE COSTILLA CAMPESTRE . $320</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TORTILLAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TORTILLA PAPAS . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA VERDURA . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTES           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE SUIZO . . . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE MIXTO . . . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE CHAMPIGNONE . .  $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">GUAR P/ACOMP PLATOS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ACELGA AJO Y JAMON . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>VEGT AL WOK . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE PAPAS . . . . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALAB O MIXTO . . .   $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS . . . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPA FRITA PROVENZAL . .   $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPA REJ ESP PAI NOI . .   $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPA NATURAL . . . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ . . . . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>TOM C/OREGANO . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO C/U . . . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO DURO C/U . . . . .   $45</li>                          
                <li class="text-center"><span class="fa-li"></span>JARDINERA . . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>ACELGA A LA CREMA . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS LIONESAS . . . . .   $65</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MERLU ROMANA O GRILLÉ . . $145</li>                          
                <li class="text-center"><span class="fa-li"></span>MERLU MILANESA . . . . .  $145</li>                          
                <li class="text-center"><span class="fa-li"></span>BROTOLA GRILLE . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SALMON ROSADO GRILLE . .  $355</li>                          
                <li class="text-center"><span class="fa-li"></span>MERLUIZA FLORENTINA . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARES LEONESA . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>CALAMARES C/ ARROZ . . .  $280</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MUZZA GDE . . . . . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZA MED . . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA GDE . . . . . . . . $215</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA PORC . . . . . . .   $55</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA GDE. ANCHOA C/MOZZA $295</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA MED ANCHOA C/MOZZA  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZA GDE . . . . . . .  $255</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZA MED . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>FUG QUESO GDE . . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>FUG QUESO MED . . . . . . $245</li>                          
                <li class="text-center"><span class="fa-li"></span>FUG QUESO Y J GDE . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>FUG QUESO Y J MED . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ CRIOLLA GDE . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ CRIOLLA MED . . . . . $245</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ NAPOLIT GDE . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ NAPOLIT MED . . . . . $245</li>                          
                <li class="text-center"><span class="fa-li"></span>P NAPO C/JAM GDE . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>P NAPO C/JAM MED . . . .  $255</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y MORR GDE . . . .  $345</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y MORR MED . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y ANANA GDE . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y ANANA MED . . . . $265</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y PALM GDE . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y PALM MED . . . .  $265</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ ROQUEFORT GDE . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ ROQUEFORT MED . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ CALABRESA GDE . . . . $245</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ CALABRESA MED . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ CAL C/MUZ GDE . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ CAL C/MUZ MED . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ 4 QUESOS GDE . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ 4 QUESOS MED . . . .  $255</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ PROVOLONE GDE . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ PROVOLONE MED . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ PARMESANO GDE . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ PARMESANO MED . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ VEGETAL GDE . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZ VEGETAL MED . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA GDE ACELGA MOZZ BCA $315</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA ACELGA Y S BCA CHIC $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADA . . . . . . . .   $45</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS DE VIGILIA . .   $50</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW CALIENTE      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND MILANESA . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA COMPLETO . . .  $185</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA CASERA . . .  $115</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA COMPLETA . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA SUPER . . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO . . . . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO COMPLETO . . . . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO SUPER . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW PECHUGA DESHUESADA  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>REC J O Q . . . . . . . .  $15</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW VEGETARIANO C/ATUN  $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW FRIA          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SANDW JAMON O QUESO . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW JAMON Y QUESO . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW SALAME . . . . . .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW SALAME QUESO . . .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW CRUDO . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CRUDO QUESO . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MATAMBRE CASERO . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW MAT CASERO QUESO .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW PRIMAVERA . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>REC LECHUGA O TOM O HUEVO  $15</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW CAPRESSE . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW POLLO RUC Y PARMESA $185</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW DE MIGA       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SANDW MIGA JAMON QUESO .  $125</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW MIGA CRUDO .QUESO . $145</li>                          
                <li class="text-center"><span class="fa-li"></span>SANDW TOSTADO MIXTO . . . $145</li>                          
                <li class="text-center"><span class="fa-li"></span>REC TOM HUEVO ACEITUNAS .  $15</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SUGERENCIA DEL CHEF </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CREMA LIM VERDEO AZAFRAN   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>CHORIZO MALBEC . . . . .  $295</li>                          
                <li class="text-center"><span class="fa-li"></span>MERLUZA CAPRESSE . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SUP /MIL POLLO RIOJANA .  $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FLAN O POSTRE VASO . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DE FRUTAS . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ DE MANZANA O D LECHE $165</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ MANZ FLAMBEADO . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU /MOUSSE CHOCOLAT $125</li>                          
                <li class="text-center"><span class="fa-li"></span>CROC MANZ C/HELADO . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA SUIZA . . . . . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>CHEESECAKE . . . . . . .  $125</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 3 BOCHAS . . . . . $125</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO . . . . . . .  $125</li>                          
                <li class="text-center"><span class="fa-li"></span>CHARLOTE . . . . . . . .  $145</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE DON LEONARDO . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>REC DULCE LECHE CREMA . .  $15</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">TORTAS              </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FROLA . . . . . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MANZANA . . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>RICOTA(INDIVIDUAL) . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO FRAPEE C/D LECH $135</li>                          
                <li class="text-center"><span class="fa-li"></span>BATIDO DE BANANA Y FRUTIL $135</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
