    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FLAN O POSTRE VASO . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DE FRUTAS . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ DE MANZANA O D LECHE $350</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ MANZ FLAMBEADO . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU /MOUSSE CHOCOLAT $280</li>                          
                <li class="text-center"><span class="fa-li"></span>CROC MANZ C/HELADO . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA SUIZA . . . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CHEESECAKE . . . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 PORC CHOCOTORTA . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 3 BOCHAS . . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO . . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>CHARLOTE . . . . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE DON LEONARDO . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>REC DULCE LECHE CREMA . .  $50</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">TORTAS              </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FROLA . . . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA MANZANA . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>BROW O LIMON . . . . . .  $160</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
