    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICUADOS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICUADO C/JUGO DE N . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO NARANJA C/AGUA .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO BANANA C/LECHE .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC DURAZNO/ANANA C/AGUA  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC DURAZNO/ANANA C/LECHE $260</li>                          
                <li class="text-center"><span class="fa-li"></span>TUTIFRUTI . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>BATIDO DE BANANA Y FRUTIL $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">JUGOS NATURALES     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JUGO NAT NARANJA . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO NAT POMELO . . . . . $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GANCIA O CINZANO . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CYNAR . . . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI . . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET . . . . . . . . .  $180</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES Y VARIOS    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICOR TIA MARIA . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN O ANIS . . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA . . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>RON . . . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>GINEBRA . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LEGUI . . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKY              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>BLENDERS . . . . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>JB . . . . . . . . . . .  $320</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GASEOSA CHICA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS SABORIZADAS . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS .C/GAS . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUAS .S/GAS . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 1 1/2(P/LLEVAR) . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS 1L . . . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES 500 . . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON QUILMES . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA 335 . . . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CORONA PORRON 375 . . . . $340</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS BLANCOS       </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON BLANCO CLASICO 3/4 $330</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON BLANCO CLASICO 3/8 $210</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CHARDONAY/SEMILLON $420</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON CHABLIS 3/4 . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON CHARDONAY . . . . . $380</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS TINTOS        </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NORTON TINTO CLASICO 3/4  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON TINTO CLASICO 3/8  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CABERNET/SAUVIGNON $420</li>                          
                <li class="text-center"><span class="fa-li"></span>BIANCHI 3/4 . . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON TARDIO 3/4 . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>COLON 3/4 BORGOÑA . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TTO O BCO 3/8 . . . $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/sanca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
